@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
}

body {
  margin: 0;
}
/* 用這辦法處理手機網址列 */
/* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
#map {
  height: calc(100vh - 84px);
  height: calc((var(--vh, 1vh) * 100) - 84px);
}
.mytooltip {
  background-color: #fff;
  border: 0;
  border-radius: 100px;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.25) !important;
  padding: 4px 8px;
  margin-top: 15px;
  opacity: 1 !important;
}

.leaflet-pane.leaflet-marker-pane > img {
  /* width: 62px !important;
  height: 75px !important; */
  margin-left: -27px !important;
  margin-top: -62px !important;
}

.logo {
  position: absolute;
  left: 7vw;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center; /*水平置中*/
  height: 84px;
  width: 100vw;
  background-color: rgba(255, 199, 0, 1);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

#searchTerm {
  border: 0px;
  border-right: none;
  background-color: rgba(255, 255, 255, 1);
  padding: 5px 24px;
  height: 48px;
  width: 35vw !important;
  max-width: 480px !important;
  border-radius: 10px 0px 0px 10px !important;
  outline: none;
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 800;
  box-sizing: border-box;
}

#searchTerm:focus {
  color: #000;
  border: 2px solid rgb(31, 46, 6);
  border-right: none;
}

.searchButton {
  float: right;
  width: 74px;
  height: 48px;
  border: 0px;
  background: rgba(31, 46, 61, 1);
  text-align: center;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* 自行車路線按鈕 */
.bikerRoute,
#bikeRoute {
  border-radius: 5px;
  padding: 13px 13px;
  background-color: rgba(31, 46, 61, 1);
  font-size: 12px;
  font-weight: 700;
  color: white !important;
  cursor: pointer;
  border: 0px;
  white-space: nowrap;
  /* 強制下拉+按鈕高度一致，位置高度一樣 */
  height: 45px;
  vertical-align: middle;
}

.bikerRoute:hover > i,
.bikerRoute:hover {
  background-color: white;
  color: rgba(31, 46, 61, 1) !important;
}

.bikerRoute > i {
  color: white !important;
  vertical-align: middle;
  font-size: 15px;
}
.bikerRoute > p {
  margin-left: 5px;
  vertical-align: middle;
  display: inline;
}

.bikerRecommed {
  position: absolute;
  right: 5vw;
}

/* 下拉選單 */
#bikeRoute {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  padding-right: 30px;
  /* Personalize */
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center/1.4em,
    rgb(31, 46, 61) 3em;
}
select option {
  color: inherit;
  background-color: rgba(31, 46, 61, 1);
  line-height: 25px;
  font-size: 15px;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}

/* 改變定位圖案 */
.leaflet-bar-part {
  background-image: url("../icons/location.svg");
  background-repeat: no-repeat;
  background-size: auto;
}
.fa-map-marker {
  display: none;
}

/* easy autocomplete 顯示 */
.easy-autocomplete-container {
  z-index: 999;
  left: 2%;
  width: 98%;
}
.easy-autocomplete {
  max-width: 480px !important;
  width: 35vw !important;
}
.easy-autocomplete-container ul,
.easy-autocomplete-container ul li {
  border: 0;
}
.easy-autocomplete-container ul {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.easy-autocomplete-container li {
  background: none !important;
  padding-bottom: 10px !important;
}
.eac-item {
  font-size: 16px;
}
/* Marker Cluster */
/* medium: rgba(241, 211, 87, 0.6)*/
/* medium: rgba(240, 194, 12, 0.6) */
/* large:  rgba(253, 156, 115, 0.6)*/
/* large: rgba(241, 128, 23, 0.6) */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-large {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(110, 204, 57, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}
.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out,
    -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out,
    -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out,
    -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/* Marker Cluster */

/* sidebar */
.leaflet-sidebar {
  position: absolute;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2000;
}
.leaflet-sidebar.left {
  left: -500px;
  transition: left 0.5s, width 0.5s;
  padding-right: 0;
}
.leaflet-sidebar.left.visible {
  left: 0;
}
.leaflet-sidebar.right {
  right: -500px;
  transition: right 0.5s, width 0.5s;
  padding-left: 0;
}
.leaflet-sidebar.right.visible {
  right: 0;
}
/*  */
.leaflet-sidebar.bottom {
  bottom: -1000px;
  transition: bottom 0.5s, width 0.5s;
  padding-right: 0;
}
.leaflet-sidebar.bottom.visible {
  bottom: -300px;
}
.loading {
  /* 圖片水平置中 */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* full sidebar for mobile */
.full-sidebar-mobile {
  bottom: -0px !important;
}

/*  */
.leaflet-sidebar > .leaflet-control {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1em;
  background: white;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.leaflet-sidebar > .leaflet-control > .sidebar-content {
  height: 100%;
  overflow-y: scroll;
}
.leaflet-sidebar > .leaflet-control > .sidebar-content > .top {
  padding: 15px 20px; /* Increase/decrease this value for cross-browser compatibility */
}
.leaflet-touch .leaflet-sidebar > .leaflet-control {
  box-shadow: none;
  border: 0px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.material-icons {
  color: #027db4 !important;
  vertical-align: middle;
}
.sidebar-content > .top > .collection-icon {
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  float: right;
  margin-top: 10px;
}
.sidebar-header > h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 36px;
}

.sidebar-header > p {
  display: inline;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.85);
}
.sidebar-header > .material-icons {
  margin-left: -10px;
  font-size: 24px;
}
.sidebar-header > img {
  vertical-align: middle;
}

.sidebar-food {
  height: 160%;
  padding: 15px 20px 70px 20px;
  overflow: scroll;
}
.food-img {
  width: 130px;
  height: 120px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 15px;
}
.food-detail {
  /* float: left; */
  margin-bottom: 30px;
  width: 100%;
}
.food-detail > h1,
.food-detail > p {
  margin: 0;
  /* 行數限制 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.food-detail > h1 {
  font-weight: 800;
  -webkit-line-clamp: 1;
}
.food-detail > p {
  margin: 8px 0px 0px 0px;
  font-size: 13px;
  -webkit-line-clamp: 3;
  height: 54px;
}
.food-detail > span {
  color: rgba(255, 203, 51, 1);
}
.sidebar-img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

/* image slider css */
.showSlide {
  display: none;
}
.showSlide img {
  width: 100%;
  height: 350px;
  max-height: 350px;
}
.slidercontainer {
  max-height: 350px;
}
.arrowleft,
.arrowright {
  cursor: pointer;
  position: absolute;
  top: 175px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 10px 10px 0;
}
.arrowright {
  right: 0;
  border-radius: 10px 0 0 10px;
}
.arrowleft:hover,
.arrowright:hover {
  background-color: rgba(255, 199, 0, 0.4);
}
.content {
  color: #eff5d4;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.red-info {
  width: calc(50% - 2px);
  height: 40px;
  background-color: rgba(255, 79, 79, 1);
  position: absolute;
  top: calc(350px - 40px);
}
.blue-info {
  width: calc(50% - 2px);
  height: 40px;
  background-color: rgba(39, 63, 86, 1);
  position: absolute;
  top: calc(350px - 40px);
  right: 0;
}
.red-info > p,
.blue-info > p {
  color: white;
  text-align: center;
  font-size: 16px;
  margin: auto;
  font-weight: 600;
}

/* tab css */
.tab_css {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tab_css input {
  display: none;
}
.tab_css label {
  width: 50%;
  margin: 0;
  text-align: center;
  cursor: pointer;
  background: white;
  font-size: 20px;
  color: black;
  opacity: 0.5;
  letter-spacing: 2px;
}
.tab_content {
  order: 1;
  display: none;
  width: 100%;
  border-bottom: 3px solid #ddd;
  line-height: 1.4;
  padding: 15px;
  border: 0px solid #ddd;
}
.tab_css label:hover {
  opacity: 1;
  font-weight: bold;
}
.tab_css input:checked + label {
  opacity: 1;
  font-weight: bold;
  border-bottom: 8px solid #ffcb33;
}
.tab_css input:checked + label + .tab_content {
  display: initial;
}

@media (max-width: 767px) {
  .leaflet-sidebar {
    width: 100%;
    padding: 0;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 100%;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 100%;
  }
  .leaflet-sidebar.left {
    left: -100%;
  }
  .leaflet-sidebar.left.visible {
    left: 0;
  }
  .leaflet-sidebar.right {
    right: -100%;
  }
  .leaflet-sidebar.right.visible {
    right: 0;
  }
  .leaflet-sidebar > .leaflet-control {
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px -6px 8px rgba(0, 0, 0, 0.1);
  }
  .leaflet-touch .leaflet-sidebar > .leaflet-control {
    border: 0;
  }

  .wrap {
    position: absolute;
    top: 72px;
    z-index: 999;
  }
  .searchButton {
    width: 48px;
  }
  #searchTerm,
  .easy-autocomplete {
    width: 70vw !important;
  }
  #searchTerm,
  .searchButton {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.25);
  }
  .logo {
    width: 130px;
    left: 2vw;
  }
  .showSlide img {
    max-height: 150px;
    object-fit: cover;
  }
  .arrowleft,
  .arrowright {
    top: calc(150px - 90px);
  }
  .red-info,
  .blue-info {
    top: calc(150px - 40px);
  }
  .tab_css label {
    padding: 0;
  }
  .leaflet-sidebar > .leaflet-control > .sidebar-content > .top {
    padding: 4px 20px;
  }
  .swipe-bar {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 15px;
    height: 4px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    border-radius: 100px;
  }
  .sidebar-header > h1 {
    font-size: 24px;
  }
  .sidebar-header > p {
    font-size: 12px;
  }
  .sidebar-header > img {
    width: 18px;
    height: 18px;
  }
  .nav {
    height: 64px;
  }
  .tab_css input:checked + label {
    border-bottom: 4px solid #ffcb33;
  }
  .tab_css label {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .leaflet-sidebar {
    width: 305px;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 305px;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 305px;
  }
  .bikerRoute > p {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .leaflet-sidebar {
    width: 390px;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 390px;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 390px;
  }
}
@media (min-width: 1200px) {
  .leaflet-sidebar {
    width: 500px;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 500px;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 500px;
  }
}
.leaflet-sidebar .close {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 31px;
  height: 31px;
  color: #333;
  font-size: 32px;
  line-height: 1em;
  text-align: center;
  background: white;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  cursor: pointer;
  z-index: 1000;
}

.leaflet-left {
  transition: left 0.5s;
}

.leaflet-right {
  transition: right 0.5s;
}
/* sidebar */
